.agents-page-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.agent-info-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.agent-list-container {
  position: absolute;
  width: 80%;
  height: 108px;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
