.agent-info {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 30px;
}
